@import "~@/assets/styles/constant";

.page-left {
  @include w300;
  left: 10px;
  background: red;
}

//中间布局
.page-center {
  top: 50px;
  z-index: 1;
  padding: 0 320px;
  width: 100%;
  height: 100%;
  .map-wrap {
    width: 100%;
    height: 8.36rem;
  }
  .air-quality {
    margin: 0 auto;
    height: 60px;
    position: relative;
    bottom: 10px;
    width: 100%;
    .air-quality-container {
      width: 655px;
      margin: 0 auto;
    }
  }
}

.page-right {
  @include w300;
  top: 50px;
  right: 10px;
}

@media only screen and (max-height: 720px) {
  .main {
    .page-center {
      .map-wrap {
        height: 472px;
      }
    }
    .pm25-count .land-page-content .content {
      height: 88px;
    }
    // 优良天数
    .good-days .land-page-content .content {
      height: 105px;
      .good-days-charts,
      .good-days-charts-bg {
        height: 105px;
      }
    }
    //异常点信息
    .abnormal-info .land-page-content .content {
      height: 404px;
    }
    // 区县AQI排名
    .aqi-ranking .land-page-content .content {
      height: 130px;
    }
  }
}